.highlight-icon {
  font-size: 100px !important;
  margin: 10px !important;
}

#navbarDropdownMega {
  width: 50%;
  margin-left: 50%;
}

@media (max-width: 768px) {
  #navbarDropdownMega {
    width: 100% !important;
    margin-left: 0%;
  }
}

/* Respoviness of product cards */
@media (min-width: 576px) {
  .card-columns {
    column-count: 2;
  }
}
@media (min-width: 768px) {
  .card-columns {
    column-count: 3;
  }
}
@media (min-width: 992px) {
  .card-columns {
    column-count: 3;
  }
}
@media (min-width: 1200px) {
  .card-columns {
    column-count: 3;
  }
}
