@import 'bootstrap.css';

.highlight-icon {
  font-size: 100px !important;
  margin: 10px !important;
}

* {
  box-sizing: border-box;
}

/* Category dropdown */
.dropdown-menu {
  max-height: 900px;
  visibility: visible;
}

.dropdown-menu {
  display: block;
  max-height: 0;
  visibility: hidden;
  transition: all 0.35s ease-in-out;
  overflow: hidden;
}

/* Respoviness of product cards */
@media (min-width: 576px) {
  .card-columns {
    column-count: 2;
  }
}
@media (min-width: 768px) {
  .card-columns {
    column-count: 3;
  }
}
@media (min-width: 992px) {
  .card-columns {
    column-count: 3;
  }
}
@media (min-width: 1200px) {
  .card-columns {
    column-count: 3;
  }
}
