.show > .dropdown-menu {
  max-height: 900px;
  visibility: visible;
}
  
.dropdown-menu {
  display: block;
  max-height: 0;
  visibility: hidden;
  transition: all 0.35s ease-in-out;
  overflow: hidden;
}

/* Categories page css */
.alphanumeric{
  display: inline-block;
  border: solid 1px #ededed;
  padding: 5px;
  background-color: #ededed;
}

